# Módulos de Node
node_modules/

# Registros (logs)
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
.env.*
!.env.example

# Archivos de base de datos
*.sqlite
*.sqlite3
*.db

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Salida de compilación
dist/
build/

# Cobertura de pruebas
coverage/

# Registros de migraciones y seeders de Sequelize
.sequelize-meta
.sequelize-data

# Misceláneo
*.tgz
.idea/
.vscode/

uploads/